.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;

}

.create_form input{
  width: 300px;
  padding: 10px;
  border-bottom: 2px solid black;
  outline: none;
}

.create_form button{
  padding: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.task{
  width: 345px;
  background-color: black;
  color: white;
  margin-top: 10px;
  padding:5px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  font-size: large;
}

.task div{
  width: 100%;
}

.delete-btn{
  background-color: white;
  color: white;
}